<form action="{{urlsQuestsPublish quest._id}}" method="post" class="publish-form">
    <h2 class="publish-form__title">Шаг 3: публикация квеста</h2>
    <div class="publish-form__button">{{> button/index _text='Опубликовать'}}</div>
</form>
