<div class="background">
    <img src="" class="background__big-img">
    <div>
        <img src="" class="background__small-img">
        <img src="" class="background__small-img">
    </div>
</div>
