@import '../../blocks/index'
@import '../../blocks/header'

.authorization
  display flex
  flex-grow 1
  flex-direction column
  justify-content center

  &__container
    display flex
    justify-content center
    height 100%

    @media (min-width: 560px) and (min-height: 560px)
      justify-content flex-end

  &__form
    background $primary-dark
    display flex
    flex-direction column
    height 100%
    position relative
    padding 20px 0

    @media (min-width: 560px) and (min-height: 560px)
      border 1px solid $color-text-secondary
      box-shadow $box-shadow
      border-radius 4px
      padding 20px 40px

  &__submit
    display inline-flex
    justify-content space-between

    &-big button
      width 100%

  &__social
    display flex
    align-items center
    justify-content center

    &-separator
      margin-top 8px
      padding-top 8px
      border-top 1px solid $color-text-secondary

    &-vk,
    &-twitter
      background-image url('./social.png')
      background-position top
      background-size cover
      width 32px
      height 32px
      margin-right 8px

    &-vk
      background-position bottom

@import '../../blocks/photocards'
@import '../../blocks/edit_text'
@import '../../blocks/button'


