<form action="{{ _actionLink }}" method="post" class="search-form">
    <label for="{{ _inputId }}" class="search-form__label"></label>
    <input id="{{ _inputId }}" name="{{ _inputId }}" class="search-form__editText">
    <button class="search-form__submit material-icons">search</button>
</form>
