<form method="post" class="checkin-form">
    <div class="checkin-form__div">
        <img src="some-photo.jpg" class="checkin-form__div-image">
    </div>
    <div class="checkin-form__coordinates">
        <div class="checkin-form__coordinates-input">
            <input id="latitude" name="latitude" type="text" placeholder="Широта">
        </div>
        <div class="checkin-form__coordinates-input">
            <input id="longitude" name="longitude" type="text" placeholder="Долгота">
        </div>
        <button class="checkin-form__coordinates-button" type="submit">Отправить</button>
    </div>
</form>
