@import '../../blocks/index'
@import '../../blocks/header'
@import '../../blocks/quest_description'

.quest
  margin-top 20px

  &__title
    text-align center
    font-size 2rem
    margin 2rem 0

  &__points
    display flex
    flex-wrap wrap
    justify-content space-around
    align-items center

@import '../../blocks/quest_point'
@import '../../blocks/quest_checkin'
