@import '../../blocks/index'
@import '../../blocks/header'
@import '../../blocks/quest_description'

.quest
  margin-top 20px

  &__title
    text-align center
    font-size 2rem
    margin 2rem 0

  &__points
    display flex
    flex-wrap wrap
    justify-content space-around
    align-items center

  &__add-card
    box-shadow $box-shadow
    margin-top 50px

  &__publish
    box-shadow $box-shadow
    margin-top 50px
    padding 0 20px 10px


@import '../../blocks/quest_point'
@import '../../blocks/quest_checkin'
@import '../../blocks/quest_add_card'
@import '../../blocks/quest_publish'
@import '../../blocks/editor'
@import '../../blocks/button'
