@import '../../blocks/index'
@import '../../blocks/header'
@import '../../blocks/quest_description'

img[data-type='emoji']
  width 18px
  height 18px
  object-fit cover
  cursor pointer

.quest
  margin-top 20px

  &__title
    text-align center
    font-size 2rem
    margin 2rem 0

  &__points
    display flex
    flex-wrap wrap
    justify-content space-around
    align-items center

  &__add-card
    box-shadow $box-shadow
    margin-top 50px

  &__publish
    box-shadow $box-shadow
    margin-top 50px
    padding 0 20px 10px

.comments
  margin-top 20px

  &__card
    padding 16px
    display flex

    &:not(:first-child)
      border-top 1px solid $color-text-secondary

  &__avatar
    width 64px
    height 64px
    object-fit cover
    border-radius 50%

  &__content
    margin-left 16px

  &__editor
    border-bottom 2px solid $color-text-secondary

  &__author
    font-size 1.2rem
    padding 0 16px 8px
    border-bottom 1px solid $color-text-secondary
    display inline-flex

    &-link
      color lightness($color-text-secondary, 70%)
      text-decoration none

  &__text
    padding 8px 16px

@import '../../blocks/quest_point'
@import '../../blocks/quest_checkin'
@import '../../blocks/quest_add_card'
@import '../../blocks/quest_publish'
@import '../../blocks/editor'
@import '../../blocks/button'
@import '../../blocks/edit_text'
@import '../../blocks/textarea'
