$quest-preview = 250px
$description-no-visible = $quest-preview - 50
$small-width = 40%
$big-width = 100% - $small-width

.quest-preview
  width 100%
  height $quest-preview
  margin 20px 0
  overflow hidden
  position relative
  box-shadow $box-shadow

  &__images
    width 100%
    height 100%
    display flex

    &-big
      width 100%

      @media (min-width: 560px)
        width $big-width

    &-small
      width $small-width
      min-width $quest-preview
      display none

      @media (min-width: 560px)
        display block

  &__image
    object-fit cover
    width 100%
    height 100%

  &__link
    position absolute
    top 0
    left 0
    right 0
    bottom 0

  &-description
    position absolute
    right 0
    top 0
    height $quest-preview
    background $primary-dark
    min-width $quest-preview
    width 100%
    transition transform .9s, opacity .9s
    transform translateY($description-no-visible)
    box-sizing border-box
    border-top 1px solid #fff

    &:after,
    &:before
      bottom 100%
      left 50%
      border solid transparent
      content " "
      height 0
      width 0
      position absolute
      pointer-events none
      box-sizing border-box
      transform translateX(-50%)

    &:after
      border-bottom-color $primary-dark
      border-width 15px
      transition border .5s, transform .5s

    &:before
      border-bottom-color #fff
      border-width 17px
      transition border .5s, transform .5s

    @media (min-width 560px)
      width $small-width

    &[data-visible='true']
      transform translateY(0)
      opacity .8

      &:after,
      &:before
        border-width 0
        margin-left 0

    &__header
      line-height 30px
      padding 10px 16px
      display flex
      justify-content space-between
      align-items center

    &__title
      font-weight 600
      font-size 1.2rem
      margin 0

    &__like
      display flex
      align-items center

      &-icon
        font-size 1rem
        padding-right 5px

    &__description
      padding 0 16px
      font-size .8rem

@media (min-width: 560px) and (min-height: 560px)
  .quest-preview-description:hover
    transform translateY(0)
    opacity .8

    &:after,
    &:before
      border-width 0
      transform translateX(0)
