<div class="quest-preview">
    <div class="quest-preview__images">
        <div class="quest-preview__images-big">
            <img class="quest-preview__image" src="http://oboi.pw/uploads/new/big/oboik.ru_23367.jpg" alt="">
        </div>
        <div class="quest-preview__images-small">
            <img class="quest-preview__image" src="http://www.fresher.ru/images4/krasota-podvodnogo-mira/060.jpg" alt="">
        </div>
    </div>
    <a href="/quests/{{ quest.id }}" class="quest-preview__link"></a>
    <section class="quest-preview-description" data-visible="false">
        <header class="quest-preview-description__header">
            <h2 class="quest-preview-description__title">{{ quest.name }}</h2>
            <div class="quest-preview-description__like">
                <span class="material-icons quest-preview-description__like-icon">favorite</span>{{ quest.likesCount }}
            </div>
        </header>
        <article class="quest-preview-description__description">
            <p>{{ quest.description }}</p>
        </article>
    </section>
</div>
