<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ staticBasePath }}/createQuest.bundle.css">
</head>
<body>
    {{> header/index }}
    <main class="main">
        <section class="app-bar">
            <div class="app-bar__left"></div>
            <div class="app-bar__right">
                {{> searchForm/index inputId="search" actionLink="/search" }}
            </div>
        </section>
        <form action="/quests" method="post">
            <input name="name" type="text" placeholder="Quest name">
            <textarea name="description" placeholder="Quest description. 30 characters at least"></textarea>
            <input type="submit" value="Create">
        </form>
        {{#array '["add", "help"]'}}
            {{> floatingMenuButton/index __items=this }}
        {{/array}}
    </main>
    <script src="{{ staticBasePath }}/createQuest.bundle.js"></script>
</body>
</html>
