@import '../../blocks/index'
@import '../../blocks/header'

.page-create-quest
  display flex
  flex-grow 1
  flex-direction column
  justify-content center

  @media (max-width: 560px)
    padding 0

  &__section
    box-sizing border-box
    width 100%
    margin 10px auto
    padding 20px
    background transparent
    border-radius 4px

    @media (min-width: 560px)
      max-width 600px
      box-shadow $box-shadow
      border solid 1px rgba(255, 255, 255, .3)

.big-text__textarea_max-height
  max-height 45vh

@import '../../blocks/create_quest'
@import '../../blocks/floating_menu'
