.header
  width 100%
  padding 16px 0

  &__wrapper
    padding 0 20px
    display flex
    flex-direction column

    @media (min-width: 560px)
      padding 0 40px
      justify-content: space-between
      flex-direction row

  &__logo
    color $color-text-primary
    font-weight 600
    font-size 1.7rem
    text-decoration none
    align-self flex-start

    @media (min-width: 560px)
      font-size 2rem

  &__details
    display block
    position absolute
    top 16px
    right 20px
    font-size 1.7rem
    transition transform .3s

    &[data-details='open']
      transform rotate(180deg)

    @media (min-width: 560px)
      display none
      font-size 2rem

  &__user
    display none
    align-items center
    padding-top 20px

    &-open
      display flex

    @media (min-width: 560px)
      padding-top 0
      display flex

    &-link
      color $color-text-primary
      text-decoration none
      font-weight 500

    &-separator
      padding 0 10px
      color $color-text-secondary
