<section class="preview">
    <a href="/quests/{{ quest_id }}">
        {{> preview/background/index }}
        <div class="preview__description">
            {{> description/index }}
        </div>
    </a>
</section>
