<form class="add-card-form" method="post" action="<script>alert(1)</script>">
    <div class="add-card-form__add">
        <input type="text" placeholder="Долгота" name="longitude" class="add-card-form__input">
        <input type="text" placeholder="Широта" name="latitude" class="add-card-form__input">

        <input type="file" accept="image/*" class="add-card-form__input" onchange="loadFile(event)">

        <input type="submit" class="add-card-form__submit">
    </div>
    <div class="add-card-form__current-card">
        <img src="none.png" class="add-card-form__image" id="card-image">
        <textarea placeholder="Описание" name="description" class="add-card-form__description"></textarea>
    </div>
</form>
<script>
    function loadFile(event) {
        var cardImage = document.getElementById('card-image');
        cardImage.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
