.add-card-form
  width 100%
  display flex
  justify-content space-between

  &__input
    width calc(100% - 20px)
    display block
    padding 5px 10px
    border 0

  &__submit
    display block
    border 0
    background #fff
    padding 5px 10px

  &__add
    flex-basis 100%
    padding 10px
    display flex
    flex-direction column
    justify-content space-around
    background #576269

  &__current-card
    margin-left 10px
    width 200px
    padding 10px
    background #576269

  &__description
    height 30px
    width 194px
    resize none

  &__image
    width 200px
    height 200px
