.floating-button
  &,
  &-mini
    font-size 1.5rem
    width 56px
    height 56px
    margin 16px
    color #fff
    background #40c4ff
    border 0
    border-radius 50%
    box-shadow $box-shadow
    display flex
    justify-content center
    align-items center
    user-select none
    cursor pointer

  &-mini
    width 40px
    height 40px
    margin 8px
    background #7c4dff

  &:active,
  &-mini:active
    background #00b0ff

  &-mini:active
    background #651fff

  &_red-background
    background #eb0000

  &_red-background:active
    background #d10000

.rotate
  animation-name sync
  animation-duration .9s
  animation-iteration-count infinite
  animation-timing-function linear

@keyframes sync
  from
    transform rotate(0)
  to
    transform rotate(-360deg)
