<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1;max-scale=1;width=device-width">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="registration.bundle.css">
</head>
<body>
    {{> header/index }}
    <div class="container__registration-form">
        {{> registration_form/index }}
    </div>

    <script src="registration.bundle.js"></script>
</body>
</html>
