$projectBg = #333
$projectColor = #71a

html, body
  margin: 0
  padding: 0
  height: 100%

.container__login-form
  width: 90%
  max-width: 400px
  position: relative
  top: 40%
  transform: translateY(-50%)

@import "../../blocks/header/index.styl"
@import "../../blocks/login-form/index.styl"
