<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{{> header/index }}
<main class="main">
    <form action="/login" method="post">
        <div>
            <p></p>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
        </div>
    </form>
    <a href="/login/vk">Login with Vk</a>
    <a href="/login/twitter">Login with Twitter</a>
</main>
</body>
</html>
