.quest-point
  width 150px
  height 150px
  padding 10px
  cursor pointer

  @media (min-width: 560px)
    width 200px
    height 200px

  &[data-check='true'] &__image
    border-color #4CAF50

  &[data-check='false'] &__image
    border-color #F44336

  &__image
    width 100%
    height 100%
    object-fit cover
    border-radius 50%
    border 2px solid $color-text-secondary
    box-shadow $box-shadow
