.description

  &__header
    padding 16px 16px 10px
    display flex
    justify-content space-around
    align-items center

  &__name,
  &__title
    font-size 2rem
    margin 0
    padding 0
    text-align center

  &__title
    flex-basis 100%

  &__name
    font-size 1.5rem
    padding-right 10px

  &__time
    display block
    text-align right
    font-size .8rem
    color lightness($color-text-secondary, 70%)

  &__content
    padding 0 16px

  &__text-section
    display flex

  &__text
    flex-basis 100%

    p
      margin 8px

  &__status
    display flex
    align-items center
    justify-content space-around
    height 30px

  &-status__item
    font-size 1.1rem
    flex-wrap nowrap
    display flex

    span
      padding-right 5px

  &__footer
    padding 0 16px
    height 50px
    display flex
    align-items center
    justify-content space-between

  &__author
    display flex
    align-items center
    color $color-text-primary
    text-decoration none

  &-author

    &__name
      padding 0 10px
      font-weight 600
      font-size .8rem
      text-decoration none

    &__avatar
      border-radius 50%
      height 28px
      width 28px

  &__edit-button
    align-self center
    cursor pointer
    padding 6px
    border-radius 50%
    background #40c4ff
    margin-left 8px
    box-shadow $box-shadow

  &__edit-button:active
    background #00b0ff

  .edit-text
  .big-text
    margin 8.5px 0
    flex-basis 100%
