<section class="description">
    <div class="description__columnizer">
        <div class="description__left-column">
            <header class="description__header">
                {{ name }}
                Ya.MegaQuest
            </header>
        </div>
        <div class="description__right-column">
            <p class="description__location">
                {{ location }}
                Yekaterinburg
            </p>
            <p class="description__author">
                {{ author }}
                Gallyam and Irina
            </p>
        </div>
    </div>
    <p class="description__text">
        {{ text }}
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
        Some awesome description of our 2 hour work.
    </p>
</section>
