<section class="photo-cards">
    {{#each _photos}}
        <section class="photo-cards__item">
            <img class="photo-cards__photo" src="{{ this }}">
        </section>
    {{/each}}
</section>
