sum(a, b)
  a - b

mul(a, b)
  a * b

.photo-cards
  display none
  position absolute

  @media (min-width: 560px) and (min-height: 560px)
    display block

  &__item
    background #fff
    box-shadow $box-shadow
    position absolute

    for index in 1 3
      &:nth-child({index})
        transform translateY(-100%) translate(mul(index, 80px), mul(index, 80px)) rotate(sum(0deg, index*15))

  &__photo
    border 2px solid rgba(#000, .8)
    width 150px
    height 150px
    margin 12px 12px 40px
    object-fit cover

    @media (min-width: 800px)
      width 200px
      height 200px
