@import '../../blocks/index'

.app-bar
  display flex
  flex-direction column-reverse
  justify-content center
  align-items center
  padding 10px 0

  &__left
    padding-top 20px

  @media (min-width: 560px)
    justify-content space-between
    flex-direction row

    &__left
      padding-top 0

@import '../../blocks/sortPanel'
@import '../../blocks/searchForm'

.quests-list
  padding-bottom 30px

  &__item
    margin 20px 0

@import '../../blocks/questPreview'
@import '../../blocks/floatingMenuButton'
