<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="main.bundle.css">
</head>
<body>
    {{> description/index}}
    <script src="main.bundle.js"></script>
</body>
</html>
