<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ staticBasePath }}/main.bundle.css">
</head>
<body>
    {{> header/index _title=title _user=user }}
    <main class="main">
        <section class="app-bar">
            <div class="app-bar__left">
                {{#array "по новизне" "по рейтингу"}}
                    {{> sort_panel/index _fields=this }}
                {{/array}}
            </div>
            <div class="app-bar__right">
                {{> search_form/index _inputId="query" _actionLink=(urlsQuestsSearch) }}
            </div>
        </section>
        <section class="quests-list">
            {{#each quests}}
                {{> quest_card/index
                    _title=this.name
                    _date=this.creationDate
                    _likes=this.likesCount
                    _finish=this.likesCount
                    _followers=this.likesCount
                    _author_avatar=this.author.avatar
                    _author_name=this.author.name
                    _images=this.photos
                    _link=(urlsQuestsSpecific _id)
                }}
            {{/each}}
        </section>
        {{#array '{"icon": "add", "link": ":create"}' '{"icon":"?", "link": ":about"}'}}
            {{> floating_menu/index _items=this }}
        {{/array}}
    </main>
    <script src="{{ staticBasePath }}/main.bundle.js" async="async"></script>
</body>
</html>
