@import '../../blocks/index'
@import '../../blocks/header'

.app-bar
  display flex
  flex-direction column-reverse
  justify-content center
  align-items center
  padding 10px 0

  &__left
    padding-top 20px

  @media (min-width: 560px)
    justify-content space-between
    flex-direction row

    &__left
      padding-top 0

@import '../../blocks/sort_panel'
@import '../../blocks/search_form'

.quests-list
  padding-bottom 30px

@import '../../blocks/quest_card'
@import '../../blocks/description'
@import '../../blocks/floating_menu'
