.edit-text
  display flex
  border-bottom 2px solid $color-text-secondary
  font-size 1.5rem
  margin 10px 0

  &__icon
    color $color-text-secondary

  &__input
    width 100%
    min-width 200px
    border 0
    background transparent
    color #fff
    padding 0 10px
    font-size 1rem

    &:focus
      outline 0

  &__invalid
    border-bottom 2px solid rgba(126, 0, 0, .35)
    background rgba(139, 0, 0, .15)
    transition border-bottom .5s ease, background .5s ease
