.big-text
  display flex
  border-bottom 2px solid $color-text-secondary
  font-size 1.5rem

  &__icon
    color $color-text-secondary

  &__textarea
    resize none
    box-sizing border-box
    width 100%
    max-width 100%
    border 0
    background transparent
    color #fff
    padding 3px 10px
    font-size 1rem
    font-family inherit

    &:focus
      outline 0
