.big-text
  display flex
  border-bottom 2px solid $color-text-secondary
  font-size 1.5rem
  margin 10px 0

  &__icon
    color $color-text-secondary

  &__textarea
    box-sizing border-box
    width 100%
    max-width 100%
    border 0
    background transparent
    color #fff
    padding 3px 10px
    font-size 1rem
    font-family inherit

    &:focus
      outline 0

    &_height-limited
      max-height 45vh

    &_height-fixed
      resize none

  &__invalid
    border-bottom 2px solid rgba(126, 0, 0, .35)
    background rgba(139, 0, 0, .15);
    transition border-bottom .5s ease, background .5s ease
