.user
  display: flex
  flex-wrap: wrap
  width: 150px

  &__sign
    width: 100%
    border: 1px solid #075800
    text-align: center
    background: #09ab00
    color: #fff
    font-size: 20px
    border-radius: 15px
    text-decoration: none
    display: flex
    align-items: center
    justify-content: center

    &:hover
      background: #0fff00
