$projectBg = #333
$projectColor = #fafafa

body
  width 100%
  background $projectBg

.checkin-section
  display flex
  margin auto
  width 100%
  min-width 300px
  min-height 400px
  height calc(100vh - 80px)
  background #f5fd72
  justify-content center


@import "../../blocks/header/index.styl"
@import "../../blocks/checkin_form/index.styl"
