<section class="quest-description">
    {{#with (arrayFirst _images)}}
        <img src="{{urlsPhotosImage this._id}}" class="quest-description__background">
    {{/with}}
    <section class="quest-description__description">
        {{> description/full
            _title=_title
            _date=_date
            _likes=_likes
            _finish=_finish
            _followers=_followers
            _description=_description
            _author_avatar=_author_avatar
            _author_name=_author_name
            _author_link=_author_link
        }}
        <section class="quest-description__buttons-section">
            {{#if user}}
                {{#if quest.isAccessibleToCurrentUser}}
                    <form class="quest-description__remove" action="{{urlsQuestsRemove quest._id}}" method="post">
                        {{{csrfHiddenInput}}}
                        {{> floating_button/default _icon='delete' }}
                    </form>
                {{/if}}
                {{#unless user.isAuthor}}
                    {{#unless user.isPassingCurrentQuest}}
                        <div class="quest-description__subscribe">
                            {{> floating_button/default _icon='add' }}
                        </div>
                    {{else}}
                        {{#unless user.isLikedCurrentQuest}}
                            <div class="quest-description__like">
                                {{> floating_button/default _icon='favorite' }}
                            </div>
                        {{/unless}}
                    {{/unless}}
                {{/unless}}
            {{/if}}
        </section>
    </section>
</section>
