.floating-button
  &,
  &-mini
    width 56px
    height 56px
    margin 16px
    color #fff
    background #40c4ff
    border 0
    border-radius 50%
    box-shadow $box-shadow
    display flex
    justify-content center
    align-items center
    user-select none
    cursor pointer

  &-mini
    width 40px
    height 40px
    margin 8px
    background #7c4dff

  &:active,
  &-mini:active
    background #00b0ff
    box-shadow $box-shadow

  &-mini:active
    background #651fff
