html, body
  margin 0
  padding 0

.create-quest-section
  width 50%
  margin 10px auto
  padding 20px
  background #24292F

@import "../../blocks/header/index.styl"
@import "../../blocks/create_quest/index.styl"
