<form action="{{ actionLink }}" method="post" class="search-form">
    <label for="{{ inputId }}" class="search-form__label"></label>
    <input id="{{ inputId }}" name="{{ inputId }}" class="search-form__editText" type="search">
    <button class="search-form__submit material-icons">search</button>
</form>
