.button
  background-color transparent
  border 1px solid $color-text-secondary
  border-radius 4px
  box-shadow $box-shadow
  color $color-text-primary
  cursor pointer
  padding 0 1.5rem
  font-weight 500
  font-size .9rem
  height 2.5rem
  line-height 2.5rem
  user-select none
  margin 10px 0

  &:focus
    outline 0
